div.title {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: #609966;
}

img.avatar {
    position: absolute;
    top: 10%;
    left: 10%;
}

body {
    padding: 0px;
    margin: 0px;
}

